{
  extends": "airbnb-base",
  "rules": {
    "global-require" : "off",
    "no-console"     : "off",
    "new-cap"        : "off",
    "arrow-body-style"  : "off",
    "consistent-return" : "off"
  }
}
